@import "tailwindcss";
.fasthand-regular {
  font-family: "Fasthand", cursive;
  font-weight: 400;
  font-style: normal;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

@custom-variant dark (&:where(.dark, .dark *));

